<div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
      <div class="parent">
        <div class="child">
          <div nz-row class="imgDiv">
            <div nz-col nzSpan="24">
              <h1 style="margin-left: 80px;">Sign Up</h1>
            </div>
          </div>
  
          <form [formGroup]="validateForm" (ngSubmit)="signup()" nz-form>
            <!-- Email Input -->
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                <input nz-input placeholder="E-mail" formControlName="email" required />
              </nz-form-control>
              <ng-template #emailErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your email!
                </ng-container>
                <ng-container *ngIf="control.hasError('email')">
                  Invalid email format!
                </ng-container>
              </ng-template>
            </nz-form-item>
  
            <!-- Password Input -->
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
                <input nz-input placeholder="Password" type="password" formControlName="password" required />
              </nz-form-control>
              <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Password is required!
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Password should contain at least 8 characters, 1 lowercase, 1 uppercase, 1 number, and 1 special character.
                </ng-container>
              </ng-template>
            </nz-form-item>
  
            <!-- Confirm Password Input -->
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="confirmPassError">
                <input nz-input placeholder="Confirm Password" type="password" formControlName="checkPassword" required />
              </nz-form-control>
              <ng-template #confirmPassError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  The passwords do not match!
                </ng-container>
              </ng-template>
            </nz-form-item>
  
            <!-- Name Input -->
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                <input nz-input placeholder="Name" formControlName="name" required />
              </nz-form-control>
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your name!
                </ng-container>
              </ng-template>
            </nz-form-item>
  
            <!-- Register Button -->
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Register</button>
  
            <!-- Login Redirect -->
            Or <a routerLink="/login">login now!</a>
          </form>
        </div>
      </div>
    </nz-spin>
  </div>
  